
# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy==1.19.2
pandas
scikit-learn

# API
gcsfs
google-cloud-storage
termcolor
uvicorn 

# utilities
six>=1.14

streamlit
requests
datetime
tensorflow


