
# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# API
gcsfs
google-cloud-storage
s3fs
termcolor
uvicorn 
fastapi

# utilities
six>=1.14
joblib

streamlit
requests
datetime
tensorflow-cpu