
# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# API
gcsfs
google-cloud-storage
s3fs
termcolor
uvicorn 
fastapi

# utilities
six>=1.14
joblib

streamlit
requests
datetime
https://dl.google.com/coral/python/tflite_runtime-2.1.0.post1-cp37-cp37m-linux_x86_64.whl



